/* Page 1 content*/

#Page1 {
    background-image: url(images/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 623px;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
    font-size: 50px;
}

.button {
    position: absolute;
    background-color: transparent;
    left: 600px;
    top: 450px;
}


/* Page 2 content*/

#Page2 {
    background-image: url(images/image2.jpg);
    background-position: center;
    background-size: cover;
    height: 623px;
}

#button2 {
    color: white;
    position: absolute;
    top: 570px;
    left: 1000px
}