/* Page 1 content*/

#Page1 {
    background-image: url(images/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 623px;
}


/* Page 2 content*/